@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card--container {
    max-width: 320px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

.card--image {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
}

.card--title {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
}

.card--paragraph {
    font-weight: 400;
    font-size: 15px;
    color: hsl(214, 3%, 55%);
}